<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css"/>
    <title>SNS SQS Client</title>
</head>

<body class="simple-style">

<!--
<body class="simple-style" ">
-->
<body class="simple-style" onLoad=displayOption(<%= ui.menuitem %>)>

<%- include('partials/menu_navbar') %>

<%- include('partials/sqs') %>
<%- include('partials/sns') %>


</body>
</html>
